h1 {
    color: blue;
    padding: 2px;
    font-size: 90px;
    margin: 15px;
}

.input-field {
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 500px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 20px;
}

.secondary-input-field {
    border: 1px solid lightgray;
    width: 500px;
    height: 22px;
    font-size: 18px;
}

hr {
    border-color: whitesmoke;
    margin-left: -8px;
    margin-right: -8px;
}

.grid {
    display: grid;
    margin: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 170px auto;
}

.grid-item {
    background-color: white;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.grid-item-large {
    font-size: 18px;
    padding: 10px;
    text-align: left;
}

.advanced-submit input[type=submit] {
    height: 30px;
    width: 115px;
    padding: 10px;
    font-size: 12px;
    margin-left: 400px;
    border: 0px;
    background-color:#4285F4;
    color: white;
    text-align: left;
}

.advanced-submit input[type=submit]:hover {
    background-color:#336699;
}


.submitting input[type=submit] {
    height: 30px;
    width: 150px;
    margin: 5px;
    border: 0px;
    background-color: whitesmoke;
}

.submitting input[type=submit]:hover {
    border: 1px solid darkgray; 
}

.header {
    text-align: right;
    color: black;
    text-decoration: none; /* Optionally, remove underlines from links */
    margin: 10px;
}

.advanced-header {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.secondary-header {
    color: #DB4437;
    margin: 30px;
}

.left-aligned {
    text-align: left;
}
  
.right-aligned {
text-align: right;
}

a {
    color: black;
    text-decoration: none; /* Optionally, remove underlines from links */
}

a:hover {
    text-decoration: underline;
}

.main {
    text-align: center;
}

.secondary {
    text-align: left;
}
